@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%; /* white */
    --foreground: 222, 47%, 11%; /* slate-900 */

    --muted: 215, 20%, 65%; /* slate-400 - CHANGE TO 100?*/
    --muted-foreground: 215, 19%, 35%; /* slate-600 */

    --accent: 210, 40%, 98%; /* slate-50 */
    --accent-foreground: 210, 40%, 98%; /* slate-50 */

    --placeholder: 213, 27%, 84%; /* slate-300 */
  }

  .dark {
    --background: 0, 0%, 9%; /* neutral-900 */
    --foreground: 214, 32%, 91%; /* slate-200 */

    /* --muted: 215, 20%, 65%; TODO: slate-400 */
    --muted-foreground: 213, 27%, 84%; /* slate-300 */

    /* --accent: 210, 40%, 98%) slate-50 */
    /* --accent-foreground: 210, 40%, 98%; slate-50 */

    --placeholder: 215, 19%, 35%; /* slate-600 */
  }
}

html {
  height: 100%;
}

body {
  @apply text-foreground bg-background;
  height: 100%;
}
