@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 217 91% 60%; /* blue-500 */
    --secondary: 221 39% 11%; /* gray-900 */

    --background: 0 0% 100%; /* white */
    --foreground: 221 39% 11%; /* gray-900 */

    --muted: 214 32% 91%; /* slate-200 */
    --muted-foreground: 215 19% 35%; /* slate-600 */

    --accent: 210 40% 98%; /* slate-50 */
    --accent-foreground: 210 40% 98%; /* slate-50 */

    --placeholder: 213 27% 84%; /* slate-300 */
  }

  .dark {
    --primary: 217 91% 60%; /* blue-500 */
    --secondary: 0 0% 100%; /* white */

    --background: 0 0% 9%; /* neutral-900 */
    --foreground: 214 32% 91%; /* slate-200 */

    --muted: 0 0% 25%; /* neutral-700 */
    --muted-foreground: 218 11% 65%; /* slate-400 */

    --accent: 0 0% 15%; /* neutral-800 */
    --accent-foreground: 221 39% 11%; /* gray-900 */

    --placeholder: 215 19% 35%; /* slate-600 */
  }
}

html {
  height: 100%;
}

body {
  @apply bg-background text-foreground;
  height: 100%;
}
