@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-inter);
  --font-poppins: var(--font-poppins);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-placeholder: var(--placeholder);
  --color-ring: var(--ring);
}

@layer base {
  :root {
    --primary: hsl(217 91% 60%); /* blue-500 */
    --secondary: hsl(221 39% 11%); /* gray-900 */

    --background: hsl(0 0% 100%); /* white */
    --foreground: hsl(221 39% 11%); /* gray-900 */

    --muted: hsl(214 32% 91%); /* slate-200 */
    --muted-foreground: hsl(215 19% 35%); /* slate-600 */

    --accent: hsl(210 40% 98%); /* slate-50 */
    --accent-foreground: hsl(210 40% 98%); /* slate-50 */

    --placeholder: hsl(213 27% 84%); /* slate-300 */
    --ring: hsl(218 11% 65%); /* slate-400 */
  }

  .dark {
    --primary: hsl(217 91% 60%); /* blue-500 */
    --secondary: hsl(0 0% 100%); /* white */

    --background: hsl(0 0% 9%); /* neutral-900 */
    --foreground: hsl(214 32% 91%); /* slate-200 */

    --muted: hsl(0 0% 25%); /* neutral-700 */
    --muted-foreground: hsl(218 11% 65%); /* slate-400 */

    --accent: hsl(0 0% 15%); /* neutral-800 */
    --accent-foreground: hsl(221 39% 11%); /* gray-900 */

    --placeholder: hsl(215 19% 35%); /* slate-600 */
    --ring: hsl(218 11% 65%); /* slate-400 */
  }

  html {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
    height: 100%;
  }
}

@layer components {
  .section-container {
    @apply mx-auto w-full max-w-xl md:max-w-4xl;
  }
}

@layer utilities {
  .focus-visible\:ring-appearance {
    @apply ring-offset-background ring-ring/50 ring-offset-2;
  }
}
