@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-poppins: var(--font-poppins);

  --color-primary: var(--primary);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-ring: var(--ring);
}

@layer base {
  :root {
    --primary: hsl(221 39% 11%); /* gray-900 */

    --background: hsl(0 0% 100%); /* white */
    --foreground: hsl(221 39% 11%); /* gray-900 */

    --muted: hsl(214 32% 91%); /* slate-200 */
    --muted-foreground: hsl(215 19% 35%); /* slate-600 */

    --accent: hsl(210 40% 98%); /* slate-50 */
    --accent-foreground: hsl(215 20% 65%); /* slate-400 */

    --ring: hsl(218 11% 65%); /* slate-400 */
  }

  html {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
    height: 100%;
  }
}

@layer components {
  .section-container {
    @apply mx-auto w-full max-w-xl md:max-w-4xl;
  }
}
